.video-container {
  position: relative;
  max-width: 640px;
  margin: 0 auto;
}

video {
  display: block;
}

.custom-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
}

button {
  background-color: #adb5bd;
}

select {
  background-color: #adb5bd;
}

.control-elem {
  border-width: 0;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
}